
<div class="shelters">

  <div>
    <%= link_to "Create New Shelter", "/shelters/new" %>
  </div>

  <h2>Shelters</h2>
  <div id="sort_link">
    <% if @helper[1] == "false" %>
        <%= link_to "Sort Shelters By the Number of Adoptable Pets", "/shelters?sorted=true" %>
    <% else %>
        <%= link_to "Unsort Shelters By the Number of Adoptable Pets", "/shelters?sorted=false" %>
    <% end %>
  </div>
  <div id="sort_link">
    <% if @helper[2] == "false" %>
        <%= link_to "Sort Alphabeticaly", "/shelters?alpha=true" %>
    <% else %>
        <%= link_to "Unsort Alphabeticaly", "/shelters?alpha=false" %>
    <% end %>
  </div>


  <% @helper.first.each do |shelter| %>
  <div id="section_shelter_<%= shelter.id %>">
    <div id="adjustments">
    <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}", :class => "link1" %>
    </div>
    <div>
      <div id="adjustments">
        <%= link_to "Edit", "/shelters/#{shelter.id}/edit", :class => "link1" %>
      </div>
      <div id="adjustments">
      <%= link_to "Delete", "/shelters/#{shelter.id}", method: :delete, :class => "link1" %>
      </div>
    </div>
  </div>
  <% end %>

</div>
