
<div class="page_container">
<h1><%= @shelter.name %></h1>
<li>Address:  <%= @shelter.address %></li>
<li>City:     <%= @shelter.city %></li>
<li>State:    <%= @shelter.state %></li>
<li>Zip Code: <%= @shelter.zip %></li>

<br>
<%= link_to "View Pets", "/shelters/#{@shelter.id}/pets" %><br>
<div>
<%= link_to "Edit", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete", "/shelters/#{@shelter.id}", method: :delete %>
</div>
</div>

<div id="review_section">
  <% @reviews.each do |review| %>
  <div id="review_<%= review.id %>">
    <%= review.title %><br>
    <%= review.rating %><br>
    <%= review.content %>
    <img class="img" src= <%= review.picture %>, alt="No Picture">
  </div>
  <% end %>
</div>
