<nav><%= @pets.length == 0 ? "No Favorites Added" : "" %></nav>

<%= link_to "Delete All Favorited Pets", "/favorites/delete_all", method: :delete %>

<div id="container">
<h1>Favorite Pets</h1>
<div id="pets">
  <% @pets.each do |pet| %>
    <div class="responsive" id="favorites-<%= pet.id %>" >
      <div class="gallery">
        <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
        <p><img src= <%= pet.image %>></p>

        <%= button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
      </div>
    </div>
  <% end %>
</div>
<%= button_to 'Create Application', '/favorites/application', method: :get %>
</div>
