<div class="header_show_pets">
  <nav>
    <li><%= link_to "Delete All Favorited Pets", "/favorites/delete_all", :class => "link_pets", method: :delete %></li>
    <li><%= link_to 'Create Application', '/applications/new', :class => "link_pets", method: :get %></li>
  </nav>
</div>

<h1 id="fav_header">Favorited Pets</h1>
<h2 style="color: blue" id="fav_header"><%= @pets.length == 0 ? "No Favorites Added" : "" %></h2>

<div id="container_fav">
  <div id="favorited_pets">
    <div id="favs">
      <% @pets.each do |pet| %>
        <div class="responsive_fav" id="favorites-<%= pet.id %>" >
          <div class="gallery">
            <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
            <p><img src= <%= pet.image %>></p>

            <%= button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


<div id="app_pets">
  <h3 id="adp_header">Approved Pets</h3>
  <div id="box-adop">
  <% @approved_pets.each do |pet| %>
    <div id="approved_apps_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", :class => "link_pets" %>
    </div>
  <% end %>
  </div>
  <h3 id="adp_header">Pets with Open Applications</h3>
  <div id="box-adop">
  <% @pending_pets.each do |pet| %>
    <div id="open_apps_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}", :class => "link_pets" %>
    </div>
  <% end %>
  </div>
</div>


</div>
