<div class="page_container">

<h1>Adoption Application</h1>

    <h3>Select favorites you wish to adopt:</h3>
    <%= form_tag '/applications' do %>
      <% @pets.each do |pet| %>
      <section id="<%= pet.id %>-section">
        <%= check_box_tag 'favorite_ids[]', pet.id, false, :id => "checkbox-#{pet.id}" %>
        <%= label_tag pet.name %></section>
      <% end %><br><br>

    <%= label_tag "Name: " %>
    <%= text_field_tag :name  %><br>
    <%= label_tag "Address: " %>
    <%= text_field_tag :address %><br>
    <%= label_tag "City: " %>
    <%= text_field_tag :city %><br>
    <%= label_tag "State:" %>
    <%= text_field_tag :state %><br>
    <%= label_tag "Zip: " %>
    <%= text_field_tag :zip %><br>
    <%= label_tag "Phone:" %>
    <%= text_field_tag :phone %><br>

    <h3><%= label_tag "Why would you make a good home for these pets?" %></h3>
    <%= text_area_tag :description, nil, rows: 5, cols: 35 %><br><br>

    <%= submit_tag 'Submit' %>
  <% end %>
  </div>
